#root {
  max-width: 1280px;
  min-width: 50vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  // background-color: yellow;
  background-color: #16a085;
}

.yellow{
  color: #f3f605
}
// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// }

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  h2 {display: inline;}

 &>*{
    margin: 2em;
  }
}

.read-the-docs {
  color: #888;
}

.board {
  // background-color: white;
  table {border-collapse: collapse; width: 100%;}
  th {
    font-size: 3rem;
    color:#f3f605
  }
  table,th,td{
    border: 5px solid white;
    padding:2rem;
  }
  tr>td:first-child{
    color:white;
    p {
      font-style: italic;
      margin: 0;
      text-wrap: balance;
    }
  }
}
